---
import '../styles/global.css'
const {title,row} = Astro.props;
---
<html>{/*Astro会自动添加`<!DOCTYPE html>`*/}
<head>
    <meta charset="UTF-8">{/*UTF-8是HTML5的唯一有效编码，但不声明UTF-8就乱码……*/}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">{/*设置视口宽度和默认缩放级别，这是响应式设计的基础 */}
    <link rel="icon" href="data:,">{/*不添加的话首次访问时浏览器会自动访问/favicon.ico弹出404 */}
    <title>{title}</title>
</head>
<body class=`min-h-screen flex ${row?"flex-row":"flex-col"}`>{/*最小高度为视口高度*/}
<slot/>
</body>
</html>